@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sans-pro";
  src: url("../fonts/Sans-pro/SourceSansPro-Regular.ttf") format("truetype");
  /* Adjust as needed */
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/static/Inter-Regular.ttf") format("truetype");
  /* Adjust as needed */
}
